.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #892cdc;
}

h1 {
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #f05454;
}

p {
  font-size: 2rem;
  color: #ffa62b;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.load-button{
  border-radius: 19px;
  border: none;
  font-size: 24px;
  padding: 15px;
  position: relative;
  top: 50px;
  left: 680px;
  cursor: pointer;
}